#loginform {
  justify-content: center;
}

#form {
  border-radius: 50px;
}


#btnlog {
  color: black;
width: 20%;
  background: rgb(186, 4, 112);
  background: radial-gradient(circle,
      rgba(186, 4, 112, 1) 50%,
      rgba(249, 130, 33, 1) 100%);
  border: 2px solid black;
  transition: all 0.2s;
}

#btnlog:hover {
  background-color: #ba0470;
  color: white;

  border: 2px solid rgb(255, 255, 255);
  width: 25%;

}
#btnlog:active {
  color: black;

  border: 2px solid black;
  width: 25%;

}

#userinput {
  border: 2px solid gray;

  border-radius: 20px;
  width: 50%;
  transition: all 0.5s;

}

#userinput:hover {
  border: 2px solid #ba0470;
  color: black;
  background-color: white;
  width: 60%;
  border-radius: 20px;
  transition: all 0.5s;
}
#userinput:focus {
  border: 2px solid black;
  color: white;
  background-color: #ba0470;
  width: 70%;
  border-radius: 20px;
}

#passinput {
  border: 2px solid gray;
  border-radius: 20px;
  width: 50%;
  transition: all 0.5s;
}

#passinput:hover {
  border: 2px solid #FFA500;
  width: 60%;
  background-color: white;
  color: black;
  border-radius: 20px;
  transition: all 0.5s;

}
#passinput:focus {
  background-color: #FFA500;
  border: 2px solid black;
  width: 70%;
  color: black;
  border-radius: 20px;

}

/* 
label {
  color: orange;
} */

input {
  display: block;
  text-align: center;
}