

#butapp {
  padding: 10px 30px;
  border: 0;
  border-radius: 100px;
  background-color: #f98221;
  color: #ffffff;
  font-weight: Bold;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

#butapp:hover {
  background-color: #C50F69;
  box-shadow: 0 0 20px #96034cca;
  transform: scale(1.1);
}

#butapp:active {
  background-color: #154BB9;
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
  box-shadow: none;
  transform: scale(0.98);
}