#diag{
  color: #BA0470 ;
  text-shadow: 0 0 15px orangered;
  animation: diag 1s ease-in-out infinite alternate;
}
@keyframes diag {
  from {
    text-shadow: 0 0 10px #BA0470, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
} 
