#but1 {
  padding: 17px 40px;
  border-radius: 50px;
  border: 0;
  background-color: whitesmoke;
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 15px;
  transition: all .5s ease;
 }
 
 #but1:hover {
  letter-spacing: 3px;
  background-color: #F98221;
  color: hsl(0, 0%, 100%);
  box-shadow: #F98221 0px 7px 29px 0px;
 }
 
 #but1:active {
  letter-spacing: 3px;
  background-color: #F98221;
  color: hsl(0, 0%, 100%);
  box-shadow: #F98221;
  transform: translateY(10px);
  transition: 100ms;
 }



 /* but2 */



 #but2 {
  padding: 17px 40px;
  border-radius: 50px;
  border: 0;
  background-color: whitesmoke;
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 15px;
  transition: all .5s ease;
 }
 
 #but2:hover {
  letter-spacing: 3px;
  background-color: #C50F69;
  color: hsl(0, 0%, 100%);
  box-shadow: #C50F69 0px 7px 29px 0px;
 }
 
 #but2:active {
  letter-spacing: 3px;
  background-color: #C50F69;
  color: hsl(0, 0%, 100%);
  box-shadow: #C50F69;
  transform: translateY(10px);
  transition: 100ms;
 }

 /* but3 */

 #but3 {
  padding: 17px 40px;
  border-radius: 50px;
  border: 0;
  background-color: whitesmoke;
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 15px;
  transition: all .5s ease;
 }
 
 #but3:hover {
  letter-spacing: 3px;
  background-color: #154bb9;
  color: hsl(0, 0%, 100%);
  box-shadow: #154bb9 0px 7px 29px 0px;
 }
 
 #but3:active {
  letter-spacing: 3px;
  background-color: #154bb9;
  color: hsl(0, 0%, 100%);
  box-shadow: #154bb9;
  transform: translateY(10px);
  transition: 100ms;
 }


 #but4 {
  position: relative;
  padding: 10px 22px;
  border-radius: 6px;
  border: none;
  color: #fff;
  cursor: pointer;
  background-color: #F98221;
  transition: all 0.2s ease;
}

#but4:active {
  transform: scale(0.96);
}

#but4:before,
#but4:after {
  position: absolute;
  content: "";
  width: 150%;
  left: 50%;
  height: 100%;
  transform: translateX(-50%);
  z-index: -1000;
  background-repeat: no-repeat;
}

#but4:hover:before {
  top: -70%;
  background-image: radial-gradient(circle, #F98221 20%, transparent 20%),
    radial-gradient(circle, transparent 20%, #F98221 20%, transparent 30%),
    radial-gradient(circle, #F98221 20%, transparent 20%),
    radial-gradient(circle, #F98221 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #F98221 15%, transparent 20%),
    radial-gradient(circle, #F98221 20%, transparent 20%),
    radial-gradient(circle, #F98221 20%, transparent 20%),
    radial-gradient(circle, #F98221 20%, transparent 20%),
    radial-gradient(circle, #F98221 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
    10% 10%, 18% 18%;
  background-position: 50% 120%;
  animation: greentopBubbles 0.6s ease;
}

@keyframes greentopBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
      40% 90%, 55% 90%, 70% 90%;
  }

  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
      50% 50%, 65% 20%, 90% 30%;
  }

  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
      50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

#but4:hover::after {
  bottom: -70%;
  background-image: radial-gradient(circle, #F98221 20%, transparent 20%),
    radial-gradient(circle, #F98221 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #F98221 15%, transparent 20%),
    radial-gradient(circle, #F98221 20%, transparent 20%),
    radial-gradient(circle, #F98221 20%, transparent 20%),
    radial-gradient(circle, #F98221 20%, transparent 20%),
    radial-gradient(circle, #F98221 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
  background-position: 50% 0%;
  animation: greenbottomBubbles 0.6s ease;
}

@keyframes greenbottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
      70% -10%, 70% 0%;
  }

  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
      105% 0%;
  }

  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
      110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}