#but3{
  color: #BA0470;
  border: 2px solid rgba(249,130,33,1)
}
#but3:hover{
  color: white;
  background: rgb(186,4,112);
    background: radial-gradient(circle, rgba(186,4,112,1) 50%, rgba(249,130,33,1) 100%);
    border: 2px solid black ;
}
#but2{
  color: rgba(249,130,33,1);
  border: 2px solid #BA0470
}
#but2:hover{
  color: white;
  background: rgb(186,4,112);
    background: radial-gradient(circle, rgba(186,4,112,1) 50%, rgba(249,130,33,1) 100%);
    border: 2px solid black ;
}
#but1{
  color: #BA0470;
  border: 2px solid rgba(249,130,33,1)
}
#but1:hover{
  color: white;
  background: rgb(186,4,112);
    background: radial-gradient(circle, rgba(186,4,112,1) 50%, rgba(249,130,33,1) 100%);
    border: 2px solid black ;
}